.row
  .small-12.column
    %h1 Profile Search
  .small-12.column
    = form_tag search_profiles_path, :method => :get do
      = label_tag :query
      = text_field_tag :query
      = submit_tag "Search"

  - if @profiles
    .small-12.column
      %table
        %tr
          %th id
          %th email
          %th display_name
          %th description
          %th
        - @profiles.each do |profile|
          %tr
            %td= profile.id
            %td= profile.email
            %td= profile.description
            %td= profile.email
            %td= link_to "Show", profile_path(profile.id)

