.row
  .small-12.column
    %h1 Profile Show
  .small-12.column
    %table
      %tr
        %th id
        %th email
        %th display_name
        %th description
        %th avatar
        %th
      %tr
        %td= @profile.id
        %td= @profile.email
        %td= @profile.description
        %td= @profile.email
        %td
          - if @avatar
            = image_tag @avatar.image_url_thumb
        %td= link_to "Add image", new_avatar_path(profile_uuid: @profile.id)

