<table>
  <tr>
    <th>accu savings</th>
    <th>si new cost</th>
    <th>cdte new cost</th>
    <th>si breakeven</th>
    <th>cdte breakeven</th>
    <th>ror si</th>
    <th>roi si</th>
    <th>ror cdte</th>
    <th>roi cdte</th>
  </tr>
  <tr>
    <td>
      <%= @accu_savings %>
    </td>
    <td>
      <%= @si_new_cost %>
    </td>
    <td>
      <%= @cdte_new_cost %>
    </td>
    <td>
      <%= @si_breakeven %>
    </td>
    <td>
      <%= @cdte_breakeven %>
    </td>
    <td>
      <%= @ror_si %>
    </td>
    <td>
      <%= @roi_si %>
    </td>
    <td>
      <%= @ror_cdte %>
    </td>
    <td>
      <%= @roi_cdte %>
    </td>
  </tr>
</table>
